services:
  api: 
    extra_hosts:
      - "host.docker.internal:host-gateway"
  postgres:
    image: pgvector/pgvector:pg16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: hero
      POSTGRES_PASSWORD: hero
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres
      -c shared_buffers=512MB
      -c work_mem=16MB
      -c maintenance_work_mem=128MB
      -c effective_cache_size=1024MB
    deploy:
      resources:
        limits:
          memory: 1024M

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: >
      redis-server
      --appendonly yes
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
    deploy:
      resources:
        limits:
          memory: 512M

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_commander
    restart: always
    environment:
      REDIS_HOSTS: local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 128M

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: thcsgiathanh@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 1
      PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "False" # Giúp fix lỗi login trên một số trình 
    ports:
      - "8000:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    deploy:
      resources:
        limits:
          memory: 256M

  app:
    build: 
      dockerfile: Dockerfile
      context: .
    container_name: chatbot_app
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    deploy:
      resources:
        limits:
          memory: 1024M

volumes:
  postgres_data:
  redis_data:
  pgadmin_data:
