services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: hero
      POSTGRES_PASSWORD: hero
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres
      -c shared_buffers=256MB
      -c work_mem=8MB
      -c maintenance_work_mem=64MB
      -c effective_cache_size=512MB
    deploy:
      resources:
        limits:
          memory: 768M

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: >
      redis-server
      --appendonly yes
      --maxmemory 128mb
      --maxmemory-policy allkeys-lru
    deploy:
      resources:
        limits:
          memory: 150M

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_commander
    restart: always
    environment:
      REDIS_HOSTS: local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 120M

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: thcsgiathanh@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 1
    ports:
      - "8000:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    deploy:
      resources:
        limits:
          memory: 200M

  app:
    build: 
      dockerfile: Dockerfile
      context: ./THCSGIATHANH_KHKT_2025
    container_name: chatbot_app
    restart: always
    ports:
      - "3000:3000"   # webhook / API
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    deploy:
      resources:
        limits:
          memory: 700M

volumes:
  postgres_data:
  redis_data:
  pgadmin_data:
