langchain-community
langchain-ollama
langchain-google-genai
langgraph
langgraph-checkpoint-redis
langchain-openai
langchain-anthropic
langchain-deepseek
openpyxl
fastapi
uvicorn
asyncpg
redis
aioredis 
redisvl
sqlalchemy[asyncio]
psycopg[binary,pool]
langgraph-cli[inmem]
numpy
pandas
torch
neo4j