langchain-community
langchain-ollama
langgraph
langgraph-checkpoint-redis
langchain-openai
openpyxl
fastapi
uvicorn
asyncpg
redis
aioredis 
sqlalchemy[asyncio]
psycopg[binary,pool]
langgraph-cli[inmem]
numpy
pandas
pgvector